.vertical-stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .steps-wrapper {
    border-radius: 23px;
  }
  .headers {
    overflow-x: auto;
  }
  .expected-salary div {
    right: 8px;
    top: 0.68rem;
    height: 36px;
    border-left: 1px solid lightgrey;
    input {
      padding-right: 4rem;
    }
  }
  .available-for-part-time {
    .yes-option {
      background-color: #f6f6f6;
      border: 1px solid #422e87;
      color: #422e87;
      // width: 16.2rem;
      border-radius: 12px;
      cursor: pointer;
    }
    .no-option {
      color: #878484;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      cursor: pointer;
    }
  }
  .time-line-active-circle,
  .time-line-dimmed-circle {
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 50%;
  }

  .time-line-active-circle {
    background-color: #ffffff;
    border: 1px solid #ffc629;
    color: #ffc628;
    border-radius: 50px;
  }

  .time-line-dimmed-circle {
    color: #3a3a3a;
    border: 1px solid #ededed;
  }

  .time-line-divider {
    height: 34px;
    width: 1px;
    background-color: #ededed;
  }
  .time-line-small-divider {
    height: 12px;
    width: 1px;
    background-color: #ededed;
  }

  .header-icon {
    height: 1.3rem;
    width: 1.3rem;
  }

  .step-header.start > .header-indicator {
    align-self: flex-end;
  }

  .step-header-content {
    border-radius: 50%;
    align-items: center;
  }

  .step-header.active .step-header-line {
    background-color: #ffc628;
  }
  .title {
    display: inline-flex;
    text-transform: capitalize;
    position: relative;
  }

  .step-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    min-height: 25rem;
  }
  .foot {
    display: flex;
    width: 100%;
    flex-direction: row;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .next-button {
    padding: 7px 15px;
    background-color: #ffc629;
    color: black;
    border: 0;
    outline: 0;
    border-radius: 12px;
    padding: 1.2rem 3.2em;
    font-size: 0.99rem;
  }
  .prev-button {
    padding: 7px 15px;
    border: 1px solid #ffc629;
    background-color: transparent;
    color: #ffc629;
    outline: 0;
    border-radius: 12px;
    padding: 1.2rem 3.2em;
  }

  .step-content-wrapper {
    background-color: #ffffff;
    border-radius: 23px;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    min-height: 60vh;
    height: auto;
  }

  .steps-item {
    min-width: 100%;
    overflow: hidden;
  }

  .stepper-slide-1-enter-active {
    animation: slide-in 0.3s;
  }
  .stepper-slide-1-leave-active {
    animation: slide-out 0.3s;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .stepper-slide-2-enter-active {
    animation: slide2-in 0.3s;
  }
  .stepper-slide-2-leave-active {
    animation: slide2-out 0.3s;
  }
  @keyframes slide2-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide2-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
/******************************************** media queries ******************************/

@media screen and (min-width: 280px) {
  .available-for-part-time {
    .yes-option {
      width: 10rem;
    }
    .no-option {
      width: 10rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .available-for-part-time {
    .yes-option {
      width: 12.99rem;
    }
    .no-option {
      width: 12.99rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .available-for-part-time {
    .yes-option {
      width: 16.2rem;
    }
    .no-option {
      width: 16.2rem;
    }
  }
}
