.import-cv-wrapper {
  width: 83%;
  margin: auto;

  [type="file"] {
    width: 3.4rem;
    height: 3.4rem;
    position: absolute;
    padding: 0px;
  }
  .heading {
    color: #3a3a3a;
  }
  .hint {
    color: #8d8d8d;
  }
  .import-cv-input {
    opacity: 0;
  }
  .upload-wrapper {
    background-color: #fbfafd;
    border: 2px dashed #dfdcdc;
    border-radius: 12px;
    min-height: 6rem;
    .upload-icon {
      cursor: pointer;
    }
    .file-name {
      top: 0;
      color: #292929;
      font-family: "PoppinsSemiBold";
    }
    .file-size {
      color: #999999;
      font-size: 0.8rem;
    }
    .remove-file {
      border: 1px solid #29292933;
      opacity: 0.6;
      border-radius: 4px;
      padding-top: 0.36rem;
      padding-bottom: 0.36rem;
    }
  }
  .bg-gray-original {
    background-color: #fbfafd;
  }
  .bg-gray-darker {
    background-color: #ededed;
  }
  .import-wrapper {
    background-color: #ffffff;
    border: 1px solid #e2e0e0;
    border-radius: 12px;
    min-height: 6rem;
    .linkedin-icon {
      height: 2.6rem;
    }
  }
}
