/* ============= General styles ============= */
* {
  font-family: "PoppinsRegular";
  font-size: 14px;
}

.medium-font {
  font-family: "PoppinsMedium";
}

.bold-font {
  font-family: "PoppinsBold";
}

.semibold-font {
  font-family: "PoppinsSemiBold";
}

button:focus,
input:focus {
  outline: none;
}
input {
  border: 1px solid #d9d9d9;
  padding: 1.1rem;
  border-radius: 12px;
}
.question {
  color: #3a3a3a;
  font-family: "PoppinsSemiBold";
}

.logo {
  height: 54px;
}
.bg {
  background-image: url("~@/assets//images/bg.png");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.primary-btn,
.dimmed-btn,
.secondary-btn {
  border-radius: 8px;
  font-family: "PoppinsSemiBold";
  border: 0;
  padding: 11px 20px;
}
.primary-btn {
  color: white;
  background-color: #422e87;
}
.secondary-btn {
  color: #422e87;
  border: 1px solid #422e87;
  background-color: transparent;
}
.dimmed-btn {
  background-color: #dbdbdb;
  color: #8b8b8b;
  border: 1px solid #dbdbdb;
  pointer-events: none;
}
.action-button {
  padding: 7px 15px;
  background-color: #ffc629;
  border: 1px solid #ffc629;
  color: black;
  outline: 0;
  border-radius: 12px;
  padding: 1.1rem 3.1em;
  font-family: "PoppinsSemiBold";
  font-size: 1.1rem;
}
.modal-cancel-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: black;
  outline: 0;
  border-radius: 12px;
  font-family: "PoppinsSemiBold";
  padding: 0.8rem 2.8em;
  font-size: 1.1rem;
}
.modal-save-btn {
  background-color: #ffc629;
  border: 1px solid #ffc629;
  color: black;
  outline: 0;
  border-radius: 12px;
  padding: 0.8rem 2.8em;
  font-family: "PoppinsSemiBold";
  font-size: 1.1rem;
}
.sign-out-btn {
  color: white;
  border: 1px solid #aba2c9;
  border-radius: 10px;
  background-color: transparent;
  height: 3.4rem;
  img {
    height: 17px;
  }
}
button {
  font-size: 0.86rem;
}

.label {
  font-family: "PoppinsSemiBold";
  color: #4b4b4b;
  font-size: 0.97rem;
}
/******************************************  toaster ***************************************/
.dtoast-ctn {
  width: 32rem !important;
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, 9%);
  .dtoast-dub {
    width: 100% !important;
    min-height: 50px !important;
    border-radius: 12px !important;
    .dt-body {
      .dt-body-content {
        margin-top: 0px !important;
      }
    }
    .dt-struct {
      justify-content: center;
      .dt-action {
        padding-top: 2px !important;
        margin-top: 8px !important;
        margin-right: 10px;
      }
    }
  }
}

// modal
.modal-box {
  border-radius: 25px !important;
  padding: 2.2rem;
  .modal-header {
    padding: 0;
    border-bottom: 0;
  }
  .modal-body {
    padding: 0;
    margin-top: 0.2rem;
  }
  .modal-footer {
    border: 0;
    margin: 0;
  }
  .close-modal {
    &:hover {
      background-color: transparent;
    }
    &:hover > svg {
      fill: #000;
    }
    & > svg {
      height: 1.9999rem;
      width: 2rem;
    }
  }
}

/***************************************** checkbox ******************************************/
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid #d9d9d9;
  border-radius: 0.35em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  border: 0.15em solid #422e87;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #422e87;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(0.98);
}

/* ************************************ media queries ****************************** */
@media (min-width: 1400px) {
  .container {
    max-width: 1120px;
  }
}

@media only screen and (min-width: 1024px) {
  .modal-box {
    max-width: 50% !important;
  }
}
