.parent {
  .horizontal-stepper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 23px;
  }
  .headers {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
    width: 100%;
    justify-content: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .step-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .time-line-active-circle,
  .time-line-dimmed-circle {
    height: 18px;
    width: 18px;
    border-radius: 18px;
  }

  .time-line-active-circle {
    border: 4px solid #fff6dd;
    background-color: #ffc735;
  }

  .time-line-dimmed-circle {
    border: 4px solid #e6e5e7;
  }

  .time-line-divider {
    border-top: 1px solid #f1f1f1;
    height: 3px;
    width: 5.973445rem;
  }

  .header-icon {
    height: 1.3rem;
    width: 1.3rem;
  }
  .header-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .step-header.start > .header-indicator {
    align-self: flex-end;
  }

  .step-header-content {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .step-header.active .step-header-content {
    background-color: #ffc628;
  }

  .step-header.active .step-header-line {
    background-color: #ededed;
  }
  .title {
    display: inline-flex;
    text-transform: capitalize;
    position: relative;
  }

  .step-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    min-height: 23rem;
  }
  .foot {
    display: flex;
    width: 100%;
    flex-direction: row;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .next-button {
    padding: 7px 15px;
    background-color: #ffc629;
    border: 1px solid #ffc629;
    color: black;
    outline: 0;
    border-radius: 12px;
    padding: 1.2rem 3.2em;
  }
  .prev-button {
    padding: 7px 15px;
    border: 1px solid #ffc629;
    background-color: transparent;
    color: #ffc629;
    outline: 0;
    border-radius: 12px;
    padding: 1.2rem 3.2em;
  }

  .step-content-wrapper {
    background-color: #ffffff;
    background-image: url("./../../assets/images/stepper-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 23px;
    overflow: hidden;
    width: 100%;
    min-height: 54vh;
    height: auto;
  }

  .steps-item {
    min-width: 100%;
    overflow: hidden;
  }

  .stepper-slide-1-enter-active {
    animation: slide-in 0.3s;
  }
  .stepper-slide-1-leave-active {
    animation: slide-out 0.3s;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .stepper-slide-2-enter-active {
    animation: slide2-in 0.3s;
  }
  .stepper-slide-2-leave-active {
    animation: slide2-out 0.3s;
  }
  @keyframes slide2-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide2-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @media screen and (max-width: 768px) {
    .time-line-divider {
      width: 3.8rem;
    }
    .step-header-line {
      display: inline-flex;
      height: 1px;
      background-color: #f1f1f1;
      width: 7.2rem;
    }
    .time-line-wrapper,
    .title {
      display: none !important;
    }

    .step-header-content {
      width: 2.5rem;
      height: 2.5rem;
    }
    .header-icon {
      height: 1rem;
    }
  }

  @media screen and (max-width: 520px) {
    .step-header-line {
      width: 4.4rem;
    }
  }

  @media screen and (max-width: 440px) {
    .step-header-line {
      width: 3.8rem;
    }
  }

  @media screen and (max-width: 410px) {
    .step-header-line {
      width: 2.8rem;
    }
  }

  @media screen and (max-width: 320px) {
    .step-header-line {
      width: 2.4rem;
    }
  }

  @media screen and (max-width: 280px) {
    .step-header-line {
      width: 1.4rem;
    }
  }
  @media screen and (max-width: 1200px) {
    .time-line-divider {
      width: 4.9rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .time-line-divider {
      width: 4.2rem;
    }
  }
}
